doctype html
html(lang='en')
  head
    title This Route Does Not Exist | freeCodeCamp Search
    style.
      code {
        background: rgba(3, 3, 3, 0.2);
        color: #E91E63;
      }
  body
    center
      h1 No Route Here
      p
        | We don't know what
        code=route
        |  means...
      p
        | Try
        code /search/v1?q=${searchTerm}
        |  instead
